<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/carddetail.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Card Details</title>
</head>
<body>
    <header class="header">
        <a class="logo" href="/"><div>ByteCard</div></a>
        <nav class="nav">
            <a href="/search" class="nav-link">Back to Discover</a>
            <a href="/dashboard" class="nav-link">Welcome, <%= user.name %></a>
          <a href="/search" class="nav-link">Discover</a>
          <% if (user) { %>
            <a href="/dashboard"><span class="nav-link">Welcome, <%= user.name %></span></a>
            <a href="/logout" class="nav-link">Logout</a>
          <% } else { %>
            <a href="/login" class="nav-link">Login</a>
          <% } %>
        </nav>
      </header>
    <div class="main">
        <div class="details-container">
            <div class="card-detail">
                <h1 class="card-title"><%= card.card_name %></h1>
                <div class="logo">
                    <% if (logoUrl) { %>
                        <img src="<%= logoUrl %>" alt="Logo of <%= card.card_company %>" width="100">
                      <% } else { %>
                        <p>No logo available for this company.</p>
                      <% } %>
                </div>
                <p class="card-field">
                    <span class="card-subtitle">Company:</span> 
                    <span class="card-text"><%= card.card_company %></span>
                  </p>
                  <p class="card-field">
                    <span class="card-subtitle">Position:</span> 
                    <span class="card-text"><%= card.card_position %></span>
                  </p>
                  <p class="card-field">
                    <span class="card-subtitle">Description:</span> 
                    <span class="card-text"><%= card.card_description %></span>
                  </p>
                  <p class="card-field">
                    <span class="card-subtitle">Contact:</span> 
                    <span class="card-text"><%= card.card_contact %></span>
                  </p>
                  <p class="card-field">
                    <span class="card-subtitle">Tag:</span> 
                    <span class="card-text"><%= card.tagname %></span>
                  </p>
                  
            </div>
        </div>
    </div>

    <footer class="footer">
        ByteCard - 2024 <br> Cian Anderson & Joshua Sunil Mathew
    </footer>
    
</body>
</html>