<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/carddetail.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Card Details</title>
</head>
<body>
    <header class="header">
        <a class="logo" href="/">ByteCard</a>
        <nav class="nav">
            <a href="/search" class="nav-link">Discover</a>
        </nav>
    </header>
    <div class="details-container">
        <div class="card-detail">
            <h1 class="card-title"><%= card.card_name %></h1>
            <p class="card-field"><strong>Position:</strong> <%= card.card_position %></p>
            <p class="card-field"><strong>Company:</strong> <%= card.card_company %></p>
            <% if (logoUrl) { %>
              <img src="<%= logoUrl %>" alt="Logo of <%= card.card_company %>" width="100">
            <% } else { %>
              <p>No logo available for this company.</p>
            <% } %>
            <p class="card-field"><strong>Tag:</strong> <%= card.tagname %></p>
        </div>
    </div>
</body>
</html>
