<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/search.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    
    <title>Search Results</title>
</head>
<body>

  <header class="header">
    <a class="logo" href="/"><div>ByteCard</div></a>
    <nav class="nav">
      <a href="/search" class="nav-link">Discover</a>
      <% if (user) { %>
        <a href="/dashboard"><span class="nav-link">Welcome, <%= user.name %></span></a>
        <a href="/logout" class="nav-link">Logout</a>
      <% } else { %>
        <a href="/login" class="nav-link">Login</a>
      <% } %>
    </nav>
  </header>

  <div class="container">
    <div class="search_text">Search for ByteCards</div>
    <form action="/search" method="POST">
      <input 
        type="text" 
        class="search-input" 
        name="query" 
        placeholder="Enter search query..." 
      />
      
      <div class="search-by-container">
        <label for="column" class="search-by-label"></label>
        <select name="column" id="column" class="search-by-select" required>
          <option value="card_name">Name</option>
          <option value="card_position">Position</option>
          <option value="card_company">Company</option>
          <option value="tagname">Tag</option>
        </select>
        <button type="submit" class="btn">Search</button>
      </div>
      
      
    </form>
    
  
    
    <div class="results-container">
      <ul class="search-results">
        <% if (cards && cards.length > 0) { %>
          <% cards.forEach(function(card) { %>
            <li class="card" data-id="card.cardid">
              <a href="/carddetail?id=<%= card.cardid %>" class="card-link">
                <div class="card-header">
                  <span class="card-name"><%= card.card_name %></span>
                  <span class="card-brand">ByteCard</span>
                </div>
                <div class="card-body">
                  <div class="card-position"><%= card.card_position %></div>
                </div>
                <div class="card-footer">
                  <span class="company-name"><%= card.card_company %></span>
                  <span class="card-industry"><%= card.tagname %></span>
                </div>
                <% console.log(card.cardid); %>
              </a>
              
            </li>
          <% }); %>
        <% } else { %>
          <li>No results found.</li>
        <% } %>
      </ul>
      
    </div>
    
    
    
  </div>
</body>
</html>

<script>
  // Wait until the DOM is fully loaded
  document.addEventListener("DOMContentLoaded", () => {
    // Get all the card elements
    const cards = document.querySelectorAll(".card");

    // Add click event listener to each card
    cards.forEach((card) => {
      const detailButton = card.querySelector(".detail-btn");

      detailButton.addEventListener("click", () => {
        const cardId = card.getAttribute("data-id"); // Retrieve the card's ID
        if (cardId) {
          window.location.href = `/carddetail?id=${cardId}`; // Redirect to the card details page
        }
      });
    });
  });
</script>

